.add-product-admin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.add-product-admin-submit {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4px;
}

.add-product-admin-alert-submitted {
    background-color: #28a745;
}

.add-product-admin-alert-submitted:hover {
    background-color: #28a745;
}
