
.login-form {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 1rem;
    margin: auto;
}

.login-form-submit-button-container {
    display: flex;
    justify-content: center;
    margin: 8px;
}