.products-page-admin {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 1rem;
    margin: auto;
}

.products-page-admin-container-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-page-admin-container-buttons .btn {
    margin: 4px
}

.products-page-admin-product {
    margin: 4px;
    text-decoration: none;
    transition: transform 0.15s ease, background-color 0.15s ease;
}

.products-page-admin-product:hover {
    background-color: lightgray;
    transform: scale(1.02);
}

.products-page-admin-navigation {
    display: flex;
    justify-content: center;
}

.products-page-admin-navigation * {
    margin: 0px 4px;
}