.product-edit-admin {
    width: 100%;
    max-width: 520px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    padding: 1rem;
    margin: auto;
}

.product-edit-admin-delete {
    transition: transform 0.15s ease, color 0.15s ease;
}

.product-edit-admin-delete:hover {
    transform: scale(1.07);
}

.product-edit-admin-save{
    transition: transform 0.15s ease;
}

.product-edit-admin-save:hover {
    transform: scale(1.10);
}

.product-edit-admin-form-inputs {
    display: flex;
    flex-direction: column; 
}

.product-edit-admin-form-inputs * {
    margin: 8px;
}

.product-edit-admin-form-buttons {
    display: flex;
    flex-direction: row;
    margin: 8px;
    justify-content: space-between;
}

.product-edit-admin-product-saved{
    background-color: #28a745
}

.product-edit-admin-product-saved:hover{
    background-color: #28a745
}

.product-edit-admin-product-saved:active{
    background-color: #28a745 !important;
}

.product-edit-admin-alert {
    margin: 8px;
    text-align: center;
}